name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    name: Run Unit Tests
    runs-on: macos-latest
    
    strategy:
      matrix:
        swift-version: ['6.0']
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Select Xcode version
        run: sudo xcode-select -s /Applications/Xcode.app
      
      - name: Show Swift version
        run: swift --version
      
      - name: Resolve dependencies
        run: swift package resolve
      
      - name: Build package
        run: swift build
      
      - name: Run tests
        run: swift test